<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ipsam ullam tempore harum sequi! Facilis officia repellat totam accusantium sit ipsam impedit fugiat tempore libero dolorum. Accusantium sit non maiores.</p>
    </div>
</div>