<div class="jumbotron mt-4 ">
    <h1 class="display-4">Notes App Nodes and Mongodb</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id praesentium rem recusandae fuga quos eligendi, ratione nobis, obcaecati adipisci ipsum voluptatem fugit tempora asperiores quae quibusdam, eaque quaerat inventore minus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum esse doloremque praesentium provident voluptatum magni beatae cumque cupiditate, placeat facilis quas eaque reprehenderit consectetur eligendi corrupti ullam vitae eos sunt!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">google</a>
</div>
